:root {
    --background-color-default-rgb: 51, 51, 51;
    --normal-font-color: white;
}

.navbar__main {
    border-bottom: 3px solid black;
    background-color: aquamarine;
}

.main__page {
    background-color: rgba(var(--background-color-default-rgb), 0.95);
    color: var(--normal-font-color);
    padding: 24px 36px; /* veritical | horizontal */
    margin: 1em 4em 1em 4em; /* top | right | bottom |left */
    min-height: 100px;
    overflow: hidden;
}